img {
    height: 600px;
    width: 410px;
    object-fit: cover;
}

.dim {
    max-height: 533px;
    max-width: 360px;
    object-fit: cover;
}

.wi {
    width: 28%;
}

.gap {
    gap: 8rem;
}

.text-dim {
    font-size: 60px;
}