img {
    height: 600px;
    width: 410px;
    object-fit: cover;
}

.dim {
    max-height: 533px;
    max-width: 360px;
    object-fit: cover;
}

.wi {
    width: 28%;
}

.gap {
    gap: 8rem;
}

.text-dim {
    font-size: 60px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-border {
        width: 200px;
        height: 200px;
        font-size: 2rem;
    }
}